@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/Content/Images/coffee-cup-keyboard-6065.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/Content/Images/code-coding-data-574071.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/Content/Images/ai-blur-codes-577585.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class=" container-fluid ">
        <h2 class=" Why-choose text-light">Li do ban nen chon chung toi</h2>
        <div class="tz-choose-image parallax">
            <div class="container">
                <div class="row p-5">
                    <div class="col-4 text-center">
                        <div>
                            <i class="fas fa-briefcase fa-2x"></i>
                        </div>
                        <p class="text-danger">
                            Giá cả tối ưu
                        </p>
                        <p>
                            mang đến cho bạn những sản phẩm tốt nhất với thiết kế tinh tế và giá cả phù hợp với từng đối
                            tượng khách hàng.
                        </p>
                    </div>
                    <div class="col-4 text-center">
                        <div>
                            <i class="fas fa-briefcase fa-2x"></i>
                        </div>
                        <p class="text-danger">
                            Giá cả tối ưu
                        </p>
                        mang đến cho bạn những sản phẩm tốt nhất với thiết kế tinh tế và giá cả phù hợp với từng đối
                        tượng khách hàng.
                    </div>
                    <div class="col-4 text-center">
                        <div>
                            <i class="fas fa-briefcase fa-2x"></i>
                        </div>
                        <p class="text-danger">
                            Giá cả tối ưu
                        </p>
                        mang đến cho bạn những sản phẩm tốt nhất với thiết kế tinh tế và giá cả phù hợp với từng đối
                        tượng khách hàng.
                    </div>
                </div>
                <div class="row  p-5">
                    <div class="col-4 text-center">
                        <div>
                            <i class="fas fa-briefcase fa-2x"></i>
                        </div>
                        <p class="text-danger">
                            Giá cả tối ưu
                        </p>
                        mang đến cho bạn những sản phẩm tốt nhất với thiết kế tinh tế và giá cả phù hợp với từng đối
                        tượng khách hàng.
                    </div>
                    <div class="col-4 text-center">
                        <div>
                            <i class="fas fa-briefcase fa-2x"></i>
                        </div>
                        <p class="text-danger">
                            Giá cả tối ưu
                        </p>
                        mang đến cho bạn những sản phẩm tốt nhất với thiết kế tinh tế và giá cả phù hợp với từng đối
                        tượng khách hàng.
                    </div>
                    <div class="col-4 text-center">
                        <div>
                            <i class="fas fa-briefcase fa-2x"></i>
                        </div>
                        <p class="text-danger">
                            Giá cả tối ưu
                        </p>
                        mang đến cho bạn những sản phẩm tốt nhất với thiết kế tinh tế và giá cả phù hợp với từng đối
                        tượng khách hàng.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h2 class=" noi-bat text-light">Danh muc noi bat</h2>
        <div>
            <div class="row">
                <div class="col-5">
                    <img class="Spnoibat1" alt="">
                    <div class="Text-spnoibat">
                        Màu sắc trang nhã
                    </div>
                </div>
                <div class="col-7">
                    <img class="spnoibat2" alt="">
                    <div class="Text-spnoibat">
                        Thiết kế tinh tế
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <img class="Spnoibat3" alt="">
                    <div class="Text-spnoibat">
                        Lắp đặt hợp lí
                    </div>
                </div>
                <div class="col-5">
                    <img class="Spnoibat4" alt="">
                    <div class="Text-spnoibat">
                        Tư vấn miễn phí
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="SP-NhieuNhat text-center">
       <h3 class="p-3">SẢN PHẨM ĐƯỢC MUA NHIỀU NHẤT</h3>
    </div>
    <div class="boxAbout">

    </div>
    <footer class="bg-dark" style="height: 500px">

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".nav-dropdown-Menu").click(function () {
                $("#dropdown-SP").toggle(500);
            });
        });
        $(document).ready(function () {
            $(".nav-dropdown-Login").click(function () {
                $("#dropdown-Login").toggle(500);
            });
        });

    </script>